player-connection-mode=Listen
player-connection-guid=1781478408
player-connection-debug=1
player-connection-project-name=Squelch
player-connection-ip=192.168.5.59
player-connection-ip=172.26.240.1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d891c72e28cc4670ae0e7d2f9b6e3901
